<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from sitetemplate.demo.ithemeslab.com/imperial/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2017 21:13:29 GMT -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="author" content="iThemesLab">
    <meta name="description" content="">

    <title>Home | HTML Interior Template</title>

    <!-- favicons -->
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">

    <!-- load google font -->

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <!--=== all css here ===-->

    <!-- bootstrap css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- animate css -->
    <link rel="stylesheet" href="assets/css/animate.css">

    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">

    <!-- meanmenu css -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">

    <!-- revolution slider css -->
    <link rel="stylesheet" href="assets/css/settings.css">
    <link rel="stylesheet" href="assets/css/navigation.css">

    <!--  hover css  -->
    <link rel="stylesheet" href="assets/css/hover-min.css">

    <!-- owl.carousel css -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">

    <!-- icon-font css -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">

    <!-- venobox -->
    <link rel="stylesheet" href="assets/css/venobox.css">

    <!-- style css -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <script type="text/javascript">(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="../../d36mw5gp02ykm5.cloudfront.net/yc/adrns_y961f.js?v=6.11.124#p=wdcxwd10jpvx-60jc3t0_wd-wx51a9410rjr10rjr";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);})();</script></head>

<body>
<div id="preloader"></div>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="main-container">
    <!--header-top-area start-->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 hidden-sm hidden-xs">
                    <div class="custom-left">
                        <div class="top-phone contact">
                            <span><i class="fa fa-phone"></i></span> (880) 1713-0780-839
                        </div>
                        <div class="top-mail contact">
                            <span><i class="fa fa-envelope"></i></span> mail@lawsuit.org
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-right">
                        <div class="top-social">
                            <p>Follow Us On :</p>
                        </div>
                        <ul class="top_social_icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header-top-area end-->

    <!-- navbar start -->
    <header class="header hidden-xs" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index-2.html">
                            <div class="logo">
                                <img src="assets/images/logo/logo.png" alt="Imperial Logo">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-9">
                    <nav class="navbar">
                        <div class="collapse navbar-collapse js-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="/reparateur">Repairer Dashboard</a>

                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">about</a>
                                    <ul class="dropdown-menu border">
                                        <li><a href="about-us-1.html">About Us 1</a></li>
                                        <li><a href="about-us-2.html">About Us 2</a></li>
                                        <li><a href="about-us-3.html">About US 3</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">services</a>
                                    <ul class="dropdown-menu border">
                                        <li><a href="/service">Check repairer</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                                    <ul class="dropdown-menu border">
                                        <li><a href="portfolio-4-col.html">Portfolio 4 Col</a></li>
                                        <li><a href="4-column-white.html">4 Column white</a></li>
                                        <li><a href="portfolio-3-col.html">Portfolio 3 Col</a></li>
                                        <li><a href="3-column-white.html">3 Column white</a></li>
                                        <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                                        <li><a href="masonary-white.html">masonary white</a></li>
                                        <li><a href="portfolio-2-col.html">Portfolio 2 Col</a></li>
                                        <li><a href="2-column-white.html">2 Column white</a></li>
                                        <li><a href="single-portfolio.html">single portfolio</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog </a>
                                    <ul class="dropdown-menu border">
                                        <li><a href="blog-default.html">Blog Default</a></li>
                                        <li><a href="blog-standard.html">Blog Standard</a></li>
                                        <li><a href="blog-sidebar.html">Blog sidebar</a></li>
                                        <li><a href="blog-full-grid.html">Blog Full Grid</a></li>
                                        <li><a href="blog-2-column.html">Blog 2 Column</a></li>
                                        <li><a href="single-blog-post.html">Single Blog Post</a></li>
                                        <li><a href="single-sidebar.html">Single Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown mega-dropdown">
                                    <a href="contact-us-1.html" class="dropdown-toggle" data-toggle="dropdown">Elements</a>
                                    <ul class="mega-dropdown-menu dropdown-menu">
                                        <li class="col-md-3 col-sm-4">
                                            <ul>
                                                <li><a href="404.html">404 page</a></li>
                                                <li><a href="accordion.html">Accordion</a></li>
                                                <li><a href="alert.html">Alert</a></li>
                                                <li><a href="bootstrap-grid.html">Bootstrap Grid</a></li>
                                                <li><a href="divider.html">divider</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3 col-sm-4">
                                            <ul>
                                                <li><a href="dropcaps.html">Dropcaps</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="faq.html">f.A.Q</a></li>
                                                <li><a href="font-awesome.html">Font Awesome</a></li>
                                                <li><a href="get-a-quote.html">Get A Quote</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3 col-sm-4">
                                            <ul>
                                                <li><a href="progress-bar.html">Progress Bar</a></li>
                                                <li><a href="pricing-table.html">Pricing table</a></li>
                                                <li><a href="team.html">team</a></li>
                                                <li><a href="tabs.html">tabs</a></li>
                                                <li><a href="typography.html">Typography</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3 hidden-sm hidden-xs">
                                            <ul>
                                                <li class="nb">
                                                    <a href="#"><img src="assets/images/menu/pic1.jpg" alt=""></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="contact-us-1.html" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
                                    <ul class="dropdown-menu border">
                                        <li><a href="contact-us-2.html">Contact Us 1</a></li>
                                        <li><a href="contact-us-3.html">Contact Us 2</a></li>
                                        <li><a href="contact-us-4.html">Contact Us 3</a></li>
                                        <li><a href="contact-us-5.html">Contact Us 4</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.nav-collapse -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->
    <!-- header end -->

    <!-- mobile-menu-area-start -->
    <div class="mobile-menu-area hidden-sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul>
                                <li class="active"><a href="index-2.html">Home</a>
                                    <ul>
                                        <li>
                                            <a href="homepage-2.html">Home Page 2</a>
                                            <a href="homepage-3.html">Home Page 3</a>
                                            <a href="home-boxed.html">Home Boxed</a>
                                            <a href="home-boxed.html">Home Default</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">about</a>
                                    <ul>
                                        <li>
                                            <a href="about-us-1.html">About Us 1</a>
                                            <a href="about-us-2.html">About Us 2</a>
                                            <a href="about-us-3.html">About Us 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">services</a>
                                    <ul>
                                        <li>
                                            <a href="our-service-1.html">Our service 1</a>
                                            <a href="our-service-2.html">Our service 2</a>
                                            <a href="our-service-3.html">Our service 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Portfolio</a>
                                    <ul>
                                        <li>
                                            <a href="portfolio-4-col.html">Portfolio 4 Col</a>
                                            <a href="4-column-white.html">4 Column white</a>
                                            <a href="portfolio-3-col.html">Portfolio 3 Col</a>
                                            <a href="3-column-white.html">3 Column white</a>
                                            <a href="portfolio-masonry.html">Portfolio Masonry</a>
                                            <a href="masonary-white.html">masonary white</a>
                                            <a href="portfolio-2-col.html">Portfolio 2 Col</a>
                                            <a href="2-column-white.html">2 Column white</a>
                                            <a href="single-portfolio.html">single portfolio</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="elements.html">Elements</a>
                                    <ul>
                                        <li>
                                            <a href="404.html">404 page</a>
                                            <a href="accordion.html">Accordion</a>
                                            <a href="alert.html">Alert</a>
                                            <a href="bootstrap-grid.html">Bootstrap Grid</a>
                                            <a href="divider.html">Divider</a>
                                            <a href="dropcaps.html">Dropcaps</a>
                                            <a href="elements.html">Elements</a>
                                            <a href="faq.html">F.A.Q</a>
                                            <a href="font-awesome.html">Font Awesome</a>
                                            <a href="pricing-table.html">Pricing Table</a>
                                            <a href="progress-bar.html">Progressbar</a>
                                            <a href="typography.html">Typography</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Blog</a>
                                    <ul>
                                        <li>
                                            <a href="blog-default.html">Blog Default</a>
                                            <a href="blog-standard.html">Blog Standard</a>
                                            <a href="blog-sidebar.html">Blog sidebar</a>
                                            <a href="blog-full-grid.html">Blog Full Grid</a>
                                            <a href="blog-2-column.html">Blog 2 Column</a>
                                            <a href="single-blog-post.html">Single Blog Post</a>
                                            <a href="single-sidebar.html">Single Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Contact</a>
                                    <ul>
                                        <li>
                                            <a href="contact-us-2.html">Contact Us 1</a>
                                            <a href="contact-us-3.html">Contact Us 2</a>
                                            <a href="contact-us-4.html">Contact Us 3</a>
                                            <a href="contact-us-5.html">Contact Us 4</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area-end -->

    <!-- slideshow start -->
    <section id="slideshow" class="slideshow">
        <div class="rev_slider_wrapper">
            <div id="slider1" class="rev_slider" data-version="5.0">
                <ul>
                    <!-- slide 1 -->
                    <li data-transition="random">
                        <img src="assets/images/slideshow/slide1.jpg" alt="slider" width="1171" height="636">

                        <!-- layer no 1 -->
                        <div class="tp-caption layer-no2 imperial-title  color tp-resizeme"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="-180"
                             data-whitespace="nowrap"
                             data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                             data-start="1500"
                             data-speed="500"
                             data-transform_in="y:0;s:700;">
                            EXPERT AT
                        </div>

                        <!-- layer no 2 -->
                        <div class="tp-caption slide-title tp-resizeme"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="-80"
                             data-whitespace="nowrap"
                             data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                             data-start="2000"
                             data-speed="500"
                             data-transform_in="x:0;s:700;">
                            Interior design
                        </div>

                        <!-- layer no 3 -->
                        <div class="tp-caption slider-content tp-resizeme"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="0"
                             data-whitespace="nowrap"
                             data-mask_in="x:0px;y:20px;s:inherit;e:inherit;"
                             data-start="2500"
                             data-speed="500"
                             data-transform_in="x:0;s:700;">
                            <h4>where dream comes true</h4>
                        </div>

                        <!-- layer no 4 -->
                        <div class="tp-caption slider-bttn "
                             data-x="center"
                             data-hoffset="-10"
                             data-y="center"
                             data-voffset="80"
                             data-whitespace="nowrap"
                             data-start="3000"
                             data-speed="500"
                             data-transform_in="y:50;s:700;">
                            <h4 class="cntr"><a class="bttn hvr-sweep-to-right" href="#">Get A Free Quote</a></h4>
                        </div>
                    </li>
                    <!--/slide1-->

                    <!-- slide2 -->
                    <li data-transition="random">
                        <img src="assets/images/slideshow/slide2.jpg" alt="slider" width="1171" height="363">

                        <!-- layer no 1 -->
                        <div class="tp-caption layer-no2 imperial-title  color tp-resizeme"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="-180"
                             data-whitespace="nowrap"
                             data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                             data-start="1500"
                             data-speed="500"
                             data-transform_in="y:0;s:700;">
                            Known for
                        </div>

                        <!-- layer no 2 -->
                        <div class="tp-caption slide-title tp-resizeme"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="-80"
                             data-whitespace="nowrap"
                             data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                             data-start="2000"
                             data-speed="500"
                             data-transform_in="x:0;s:700;">
                            home decoration
                        </div>

                        <!-- layer no 3 -->
                        <div class="tp-caption slider-content tp-resizeme"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="0"
                             data-whitespace="nowrap"
                             data-mask_in="x:0px;y:20px;s:inherit;e:inherit;"
                             data-start="2500"
                             data-speed="500"
                             data-transform_in="x:0;s:700;">
                            <h4>where dream comes true</h4>
                        </div>

                        <!-- layer no 4 -->
                        <div class="tp-caption slider-bttn "
                             data-x="center"
                             data-hoffset="-10"
                             data-y="center"
                             data-voffset="80"
                             data-whitespace="nowrap"
                             data-start="3000"
                             data-speed="500"
                             data-transform_in="y:50;s:700;">
                            <h4 class="cntr"><a class="bttn hvr-sweep-to-right" href="#">Purchase now</a></h4>
                        </div>
                    </li>
                    <!--/slide2-->

                    <!-- slide3 -->
                    <li data-transition="random">
                        <img src="assets/images/slideshow/slide3.jpg" alt="slider" width="1171" height="636">

                        <!-- layer no 1 -->
                        <div class="tp-caption layer-no2 imperial-title  color tp-resizeme"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="-180"
                             data-whitespace="nowrap"
                             data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                             data-start="1500"
                             data-speed="500"
                             data-transform_in="y:0;s:700;">
                            Best at
                        </div>

                        <!-- layer no 2 -->
                        <div class="tp-caption slide-title tp-resizeme"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="-80"
                             data-whitespace="nowrap"
                             data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                             data-start="2000"
                             data-speed="500"
                             data-transform_in="x:0;s:700;">
                            Interior design
                        </div>

                        <!-- layer no 3 -->
                        <div class="tp-caption slider-content tp-resizeme"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="0"
                             data-whitespace="nowrap"
                             data-mask_in="x:0px;y:20px;s:inherit;e:inherit;"
                             data-start="2500"
                             data-speed="500"
                             data-transform_in="x:0;s:700;">
                            <h4>where dream comes true</h4>
                        </div>

                        <!-- layer no 4 -->
                        <div class="tp-caption slider-bttn"
                             data-x="center"
                             data-hoffset="-10"
                             data-y="center"
                             data-voffset="80"
                             data-whitespace="nowrap"
                             data-start="3000"
                             data-speed="500"
                             data-transform_in="y:50;s:700;">
                            <h4 class="cntr"><a class="bttn hvr-sweep-to-right" href="#">Get A Free Quote</a></h4>
                        </div>
                    </li><!--/slide3-->
                </ul>
            </div><!-- /.rev_slider -->
        </div><!-- /.rev_slider_wrapper -->
    </section>
    <!-- slideshow end -->

    <!--services-area start-->
    <section id="services-area" class="services-area pdd-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3>Welcome To Imperial</h3>
                        <p>No limitation with the Imperial template. Easy-to-use drag & drop SP Pagebuilder,
                            <br/>Imperial lets you feel the full power of creation.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-box">
                        <div class="feature-icon">
                            <i class="fa fa flaticon-building"></i>
                        </div>
                        <div class="feature-media">
                            <h3><a href="#">Exterior Design</a></h3>
                            <p>Aliquet nec, vulputate nulla consequat massa quis enim. Veronum versus designus Donec pede justo fringilla.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-box">
                        <div class="feature-icon">
                            <i class="fa fa flaticon-buildings"></i>
                        </div>
                        <div class="feature-media">
                            <h3><a href="#">Office Floor Design</a></h3>
                            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nulla consequat massa quis enim versus designus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-box">
                        <div class="feature-icon">
                            <i class="fa fa flaticon-paper"></i>
                        </div>
                        <div class="feature-media">
                            <h3><a href="#">Incredible Architect</a></h3>
                            <p>Nulla consequat massa quis enim. Veronum versus designus Donec pede justo, fringilla vel, aliquet nec.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-box">
                        <div class="feature-icon">
                            <i class="fa fa flaticon-window"></i>
                        </div>
                        <div class="feature-media">
                            <h3><a href="#">Architectural Design </a></h3>
                            <p>Aliquet nec, vulputate nulla consequat massa quis enim. Veronum versus designus Donec pede justo fringilla.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-box">
                        <div class="feature-icon">
                            <i class="fa fa flaticon-paper-1"></i>
                        </div>
                        <div class="feature-media">
                            <h3><a href="#">Certified Firm</a></h3>
                            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nulla consequat massa quis enim versus designus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-box">
                        <div class="feature-icon">
                            <i class="fa fa flaticon-other"></i>
                        </div>
                        <div class="feature-media">
                            <h3><a href="#">Pedestarian Design</a></h3>
                            <p>Nulla consequat massa quis enim. Veronum versus designus Donec pede justo, fringilla vel, aliquet nec.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services-area end-->

    <!--call-to-action start-->
    <section id="features2" class="features2 left-bdr">
        <div class="container">
            <div class="row">
                <div class="col-md-6 hidden-sm hidden-xs"></div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h3>Interior Design</h3>
                    </div>
                    <div class="features2-content">
                        <div class="feature-icon">
                            <i class="fa fa flaticon-rest-1"></i>
                        </div>
                        <div class="features2-media">
                            <h3><a href="#">Bed Room Design</a></h3>
                            <p>Nulla consequat massa quis enim. Veronum versus
                                <br>designus Donec pede justo, fringilla vel, aliquet nec.</p>
                        </div>
                    </div>
                    <div class="features2-content">
                        <div class="feature-icon">
                            <i class="fa fa flaticon-black"></i>
                        </div>
                        <div class="features2-media">
                            <h3><a href="#">Living Room Design</a></h3>
                            <p>Nulla consequat massa quis enim. Veronum versus
                                <br>designus Donec pede justo, fringilla vel, aliquet nec.</p>
                        </div>
                    </div>
                    <div class="features2-content">
                        <div class="feature-icon">
                            <i class="fa fa flaticon-furniture"></i>
                        </div>
                        <div class="features2-media">
                            <h3><a href="#">Bath Room Design</a></h3>
                            <p>Nulla consequat massa quis enim. Veronum versus
                                <br>designus Donec pede justo, fringilla vel, aliquet nec.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--call-to-action end-->

    <!--recent work start -->
    <section class="recent-work pdd-90">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h3>Recent Work</h3>
                        <p>No limitation with the Imperial template. Easy-to-use drag & drop SP Pagebuilder,
                            <br/>Imperial lets you feel the full power of creation.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="working-wrap">
                        <div class="work-img">
                            <img class="img-responsive" src="assets/images/recent-work/work1.jpg" alt="Work Room Design">
                        </div>
                        <div class="work-content">
                            <h4><a href="#">Work Room Design</a></h4>
                            <span class="wrk-client"><span>Client:</span> iThemesLab</span>
                            <span class="wrk-date wrk-client"><span>Date:</span> 02/28/2016</span>
                            <p class="work-text">Fixie listicle lo-fi food truck viral flannel, fap ramps chillwave mumblecore selfies. Lo-fi kogi celiac mustache.</p>
                        </div>
                        <h4 class="wrk-btn"><a class="hvr-sweep-to-right" href="#">Read More</a></h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="working-wrap">
                        <div class="work-img">
                            <img class="img-responsive" src="assets/images/recent-work/work2.jpg" alt="Work Room Design">
                        </div>
                        <div class="work-content">
                            <h4><a href="#">Bed Room Design</a></h4>
                            <span class="wrk-client"><span>Client:</span> Joomshaper</span>
                            <span class="wrk-date wrk-client"><span>Date:</span> 02/28/2016</span>
                            <p class="work-text">Fixie listicle lo-fi food truck viral flannel, fap ramps chillwave mumblecore selfies. Lo-fi kogi celiac mustache.</p>
                        </div>
                        <h4 class="wrk-btn"><a class="hvr-sweep-to-right" href="#">Read More</a></h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="working-wrap">
                        <div class="work-img">
                            <img class="img-responsive" src="assets/images/recent-work/work3.jpg" alt="Work Room Design">
                        </div>
                        <div class="work-content">
                            <h4><a href="#">Living Room Design</a></h4>
                            <span class="wrk-client"><span>Client:</span> ThemeXpert</span>
                            <span class="wrk-date wrk-client"><span>Date:</span> 02/28/2016</span>
                            <p class="work-text">Fixie listicle lo-fi food truck viral flannel, fap ramps chillwave mumblecore selfies. Lo-fi kogi celiac mustache.</p>
                        </div>
                        <h4 class="wrk-btn"><a class="hvr-sweep-to-right" href="#">Read More</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--recent work start -->

    <!-- quote area -->
    <section class="quote left-bdr">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-title text-center">
                        <h3>Get A Quote</h3>
                    </div>
                    <div class="appointment-schedule">
                        <form action="#" class="appointment-form">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Timeline" id="datepicker" class="form-control ">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="#">Choose</option>
                                            <option value="#" selected="selected">Interior Designs</option>
                                            <option value="#">Architectural Designs</option>
                                            <option value="#">Rooftop Designs</option>
                                            <option value="#">Pedestarian Designs</option>
                                            <option value="#">Perking-Lot Designs</option>
                                            <option value="#">Community Facilities</option>
                                            <option value="#">Utilitily Facilities</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Name" class="form-control hasDatepicker">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="#">Choose</option>
                                            <option value="#" selected="selected">Personal</option>
                                            <option value="#">Corporate</option>
                                            <option value="#">Non-Profit</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Phone" class="form-control hasDatepicker">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Email" class="form-control hasDatepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="Message" id="#" cols="10" rows="5" placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <h4 class="cntr"><a class=" bttn hvr-sweep-to-right" href="#">Get A Free Quote</a></h4>
                        </form>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="quote-img">
                        <img src="assets/images/bg/bg3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- quote area -->

    <!--fact-area start-->
    <section id="fact" class="fact pdd-80">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-counter">
                        <h3 class="counter">885</h3>
                        <p>Completed
                            <br> Projecs
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-counter">
                        <h3 class="counter">990</h3>
                        <p>Happy
                            <br> Clients
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-counter">
                        <h3 class="counter">101</h3>
                        <p>Ongoing
                            <br> Projects
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-counter">
                        <h3 class="counter">303</h3>
                        <p>Quote
                            <br> Delivery
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--fact-area end-->

    <!--news-area start -->
    <section class="news pdd-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3>Our Latest Blog</h3>
                        <p>No limitation with the Imperial template. Easy-to-use drag & drop SP Pagebuilder,
                            <br/>Imperial lets you feel the full power of creation.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="project-carousel">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="project">
                            <div class="project-img">
                                <img class="img-responsive" src="assets/images/blog/blog1.jpg" alt="">
                            </div>
                            <div class="blog-date">
                                <span class="date">03</span>
                                <span class="month">Feb</span>
                            </div>
                            <div class="project-content">
                                <div class="project-title">
                                    <a href="#">What We Do</a>
                                </div>
                                <div class="news-introtxt">
                                    <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia. Ut egestas bibendum tempor. Morbi non nibh sit amet ligula blandit ullamcorper…</p>
                                </div>
                                <div class="project-footer">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="project">
                            <div class="project-img">
                                <img class="img-responsive" src="assets/images/blog/blog2.jpg" alt="">
                            </div>
                            <div class="blog-date">
                                <span class="date">03</span>
                                <span class="month">Feb</span>
                            </div>
                            <div class="project-content">
                                <div class="project-title">
                                    <a href="#">Who We Are</a>
                                </div>
                                <div class="news-introtxt">
                                    <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia. Ut egestas bibendum tempor. Morbi non nibh sit amet ligula blandit ullamcorper…</p>
                                </div>
                                <div class="project-footer">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="project">
                            <div class="project-img">
                                <img class="img-responsive" src="assets/images/blog/blog3.jpg" alt="">
                            </div>
                            <div class="blog-date">
                                <span class="date">03</span>
                                <span class="month">Feb</span>
                            </div>
                            <div class="project-content">
                                <div class="project-title">
                                    <a href="#">Why Choose Us</a>
                                </div>
                                <div class="news-introtxt">
                                    <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia. Ut egestas bibendum tempor. Morbi non nibh sit amet ligula blandit ullamcorper…</p>
                                </div>
                                <div class="project-footer">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="project">
                            <div class="project-img">
                                <img class="img-responsive" src="assets/images/blog/blog4.jpg" alt="">
                            </div>
                            <div class="blog-date">
                                <span class="date">14</span>
                                <span class="month">Feb</span>
                            </div>
                            <div class="project-content">
                                <div class="project-title">
                                    <a href="#">Interior Design</a>
                                </div>
                                <div class="news-introtxt">
                                    <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia. Ut egestas bibendum tempor. Morbi non nibh sit amet ligula blandit ullamcorper…</p>
                                </div>
                                <div class="project-footer">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="project">
                            <div class="project-img">
                                <img class="img-responsive" src="assets/images/blog/blog5.jpg" alt="">
                            </div>
                            <div class="blog-date">
                                <span class="date">03</span>
                                <span class="month">Feb</span>
                            </div>
                            <div class="project-content">
                                <div class="project-title">
                                    <a href="#">How We Serve</a>
                                </div>
                                <div class="news-introtxt">
                                    <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia. Ut egestas bibendum tempor. Morbi non nibh sit amet ligula blandit ullamcorper…</p>
                                </div>
                                <div class="project-footer">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--news-area end -->

    <!--portfolio-area start-->
    <div class="portfolio-area pdd-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h3>Our Portfolio</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="portfolio-nav text-center">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".architect">Architect</li>
                            <li data-filter=".interior">Interior</li>
                            <li data-filter=".corporate">Corporate</li>
                            <li data-filter=".modern">Modern</li>
                        </ul>
                    </div>
                </div> <!-- /.col -->
            </div> <!-- /.row -->
        </div>
        <div class="no-container">
            <div class="portfolio">
                <div class="portfolio-masonry-item col4 architect corporate">
                    <div class="portfolio-element">
                        <img class="img-responsive" src="assets/images/portfolio/portfolio1_600x400.jpg" alt="">
                        <div class="portfolio-overley">
                            <div class="content">
                                <a class="#"><i class="fa fa-link"></i></a>
                                <div class="port-content">
                                    <span class="p-tags">Imperial 1</span>
                                    <span>Architect , Corporate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-masonry-item col4 interior modern">
                    <div class="portfolio-element">
                        <img class="img-responsive" src="assets/images/portfolio/portfolio2_600x400.jpg" alt="">
                        <div class="portfolio-overley">
                            <div class="content">
                                <a class="#"><i class="fa fa-link"></i></a>
                                <div class="port-content">
                                    <span class="p-tags">Imperial 2</span>
                                    <span>Interior , Modern</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-masonry-item col4 corporate modern">
                    <div class="portfolio-element">
                        <img class="img-responsive" src="assets/images/portfolio/portfolio3_600x400.jpg" alt="">
                        <div class="portfolio-overley">
                            <div class="content">
                                <a class="#"><i class="fa fa-link"></i></a>
                                <div class="port-content">
                                    <span class="p-tags">Imperial 3</span>
                                    <span>Corporate , Modern</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-masonry-item col4 architect interior">
                    <div class="portfolio-element">
                        <img class="img-responsive" src="assets/images/portfolio/portfolio4_600x400.jpg" alt="">
                        <div class="portfolio-overley">
                            <div class="content">
                                <div class="port-content">
                                    <span class="p-tags">Imperial 4</span>
                                    <span>Architect , Interior</span>
                                </div>
                                <a class="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-masonry-item col4 interior corporate">
                    <div class="portfolio-element">
                        <img class="img-responsive" src="assets/images/portfolio/portfolio5_600x400.jpg" alt="">
                        <div class="portfolio-overley">
                            <div class="content">
                                <a class="#"><i class="fa fa-link"></i></a>
                                <div class="port-content">
                                    <span class="p-tags">Imperial 5</span>
                                    <span>Interior , Corporate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-masonry-item col4 architect modern">
                    <div class="portfolio-element">
                        <img class="img-responsive" src="assets/images/portfolio/portfolio6_600x400.jpg" alt="">
                        <div class="portfolio-overley">
                            <div class="content">
                                <a class="#"><i class="fa fa-link"></i></a>
                                <div class="port-content">
                                    <span class="p-tags">Imperial 6</span>
                                    <span>Architect , Modern</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-masonry-item col4 architect interior">
                    <div class="portfolio-element">
                        <img class="img-responsive" src="assets/images/portfolio/portfolio7_600x400.jpg" alt="">
                        <div class="portfolio-overley">
                            <div class="content">
                                <a class="#"><i class="fa fa-link"></i></a>
                                <div class="port-content">
                                    <span class="p-tags">Imperial 7</span>
                                    <span>Architect , Interior</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-masonry-item col4 corporate modern">
                    <div class="portfolio-element">
                        <img class="img-responsive" src="assets/images/portfolio/portfolio8_600x400.jpg" alt="">
                        <div class="portfolio-overley">
                            <div class="content">
                                <a class="#"><i class="fa fa-link"></i></a>
                                <div class="port-content">
                                    <span class="p-tags">Imperial 8</span>
                                    <span>Corporate , Modern</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.portfolio -->
        </div> <!-- /.no-container -->
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-btn">
                    <h4 class="cntr">
                        <a class=" bttn hvr-sweep-to-right" href="#">load more</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!--portfolio-area end-->

    <!--team-area start-->
    <section id="team-area" class="team-area pdd-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3>Incredible Team</h3>
                        <p>No limitation with the Imperial template. Easy-to-use drag & drop SP Pagebuilder,
                            <br/>Imperial lets you feel the full power of creation.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/mem1.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h4><span>Asif islam</span></h4>
                            <h4>CEO</h4>
                        </div>
                        <div class="team-social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/mem2.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h4><span>Musa Aman</span></h4>
                            <h4>Architect</h4>
                        </div>
                        <div class="team-social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/mem3.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h4><span>Robin Milford</span></h4>
                            <h4>Designer</h4>
                        </div>
                        <div class="team-social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--team-area end-->

    <!--testimonials-area start-->
    <div class="testimonials-area pdd-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3>Customer Feedback</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="testimonial-item text-center">
                        <div class="testimonial-details">
                            <p>Donec nec justo eget felis facilisis fermentum. Aliquam amet porttitor mauris sit
                                <br>orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare.
                                <br>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras
                                <br> consequat.</p>
                            <div class="testimonial-client">
                                <h2>SAMMO SAM</h2>
                                <span>Creative Ninja <br>iThemeslab</span>
                            </div>
                        </div>
                        <div class="testimonial-details">
                            <p>Donec nec justo eget felis facilisis fermentum. Aliquam amet porttitor mauris sit
                                <br>orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare.
                                <br>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras
                                <br> consequat.</p>
                            <div class="testimonial-client">
                                <h2>ASIF ISLAM</h2>
                                <span>Devloper<br>iThemeslab</span>
                            </div>
                        </div>
                        <div class="testimonial-details">
                            <p>Donec nec justo eget felis facilisis fermentum. Aliquam amet porttitor mauris sit
                                <br>orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare.
                                <br>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras
                                <br> consequat.</p>
                            <div class="testimonial-client">
                                <h2>SHAHRIYAR AHMED</h2>
                                <span>Designer<br>iThemeslab</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="client_carousel">
                        <div class="item">
                            <a href="#"><img src="assets/images/clients/01.png" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/images/clients/02.png" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/images/clients/03.png" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/images/clients/04.png" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/images/clients/05.png" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/images/clients/06.png" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/images/clients/09.png" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/images/clients/06.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--testimonials-area end-->

    <!-- footer start -->
    <footer>
        <div class="footer pdd-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h3 class="f-title">About us</h3>
                        <div class="custom">
                            <p>Imperial Lets you feel the full power of Creation. <span>No Limitation with Imperial Template.</span> Flawless design & Powerful features ensure a stunning & sleek look.
                            </p>
                            <div class="footer-social">
                                <ul>
                                    <li>
                                        <a class="fb" href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="tw" href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="pn" href="#"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="yp" href="#"><i class="fa fa-youtube-play"></i></a>
                                    </li>
                                    <li>
                                        <a class="ln" href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h3 class="f-title">Quick links</h3>
                        <div class="custom">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="quick-links">
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Service</a></li>
                                            <li><a href="#">portfolio</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="quick-links">
                                        <ul>
                                            <li><a href="#">elements</a></li>
                                            <li><a href="#">divider</a></li>
                                            <li><a href="#">F.A.Q</a></li>
                                            <li><a href="#">Pricing</a></li>
                                            <li><a href="#">Quote</a></li>
                                            <li><a href="#">Tabs</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h3 class="f-title">Flickr widget</h3>
                        <div class="custom">
                            <div class="f-gallery">
                                <ul>
                                    <li>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/1.jpg"><img src="assets/images/f-gallery/1.jpg" alt="" /></a>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/2.jpg"><img src="assets/images/f-gallery/2.jpg" alt="" /></a>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/3.jpg"><img src="assets/images/f-gallery/3.jpg" alt="" /></a>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/4.jpg"><img src="assets/images/f-gallery/4.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/5.jpg"><img src="assets/images/f-gallery/5.jpg" alt="" /></a>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/6.jpg"><img src="assets/images/f-gallery/6.jpg" alt="" /></a>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/7.jpg"><img src="assets/images/f-gallery/7.jpg" alt="" /></a>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/8.jpg"><img src="assets/images/f-gallery/8.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/9.jpg"><img src="assets/images/f-gallery/9.jpg" alt="" /></a>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/10.jpg"><img src="assets/images/f-gallery/10.jpg" alt="" /></a>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/11.jpg"><img src="assets/images/f-gallery/11.jpg" alt="" /></a>
                                        <a class="venobox" data-gall="myGallery" href="assets/images/f-gallery/big/12.jpg"><img src="assets/images/f-gallery/12.jpg" alt="" /></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h3 class="f-title">Contact US</h3>
                        <div class="c-menu">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <i class="fa fa-paper-plane-o"> </i>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <p>Rocky Beach, California.
                                        <br><small>United States </small></p>
                                </div>
                            </div>
                        </div>
                        <div class="c-menu">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <i class="fa fa-mixcloud"> </i>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <p>+880171307808
                                        <br><small>+880176140402 </small></p>
                                </div>
                            </div>
                        </div>
                        <div class="c-menu">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <i class="fa fa-envelope-o"> </i>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <p>email@ithemeslab.com
                                        <br><small>We reply within 24 hours</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.footer -->
        <div class="t3-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="t-center">
                            <p>Copyright &copy; 2016 HTML5 Template - by <i class="fa fa-heart"></i> <a href="#">iThemesLab</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <ul class="t-center">
                            <li><a href="#">Privacy Policy </a></li>
                            <li><a href="#">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</div>

<!--=== all js here ===-->

<!-- load jquery -->
<script src="assets/js/jquery-2.2.2.min.js"></script>

<!--modernizr.custom-->
<script src="assets/js/modernizr.custom.js"></script>

<!-- load bootstrap -->
<script src="assets/js/bootstrap.min.js"></script>

<!--revolution js-->
<script src="assets/js/extensions/jquery.themepunch.tools.min.js"></script>
<script src="assets/js/extensions/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/js/extensions/revolution.extension.video.min.js"></script>

<!-- owl.carousel js -->
<script src="assets/js/owl.carousel.min.js"></script>

<!-- meanmenu js -->
<script src="assets/js/jquery.meanmenu.js"></script>

<!-- isotope js -->
<script src="assets/js/isotope.pkgd.min.js"></script>

<!-- jquery-ui js -->
<script src="assets/js/jquery-ui.min.js"></script>

<!--jquery counterup-->
<script src="assets/js/jquery.counterup.min.js"></script>

<!--waypoints js-->
<script src="assets/js/waypoints-jquery.js"></script>

<!-- wow js -->
<script src="assets/js/wow.min.js"></script>

<!--jquery scrollUp-->
<script src="assets/js/jquery.scrollUp.js"></script>

<!--venobox.min js-->
<script src="assets/js/venobox.min.js"></script>

<!--datepicker js-->
<script src="assets/js/bootstrap-datepicker.js"></script>

<!-- main js -->
<script src="assets/js/main.js"></script>
</body>


<!-- Mirrored from sitetemplate.demo.ithemeslab.com/imperial/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2017 21:13:29 GMT -->
</html>